EXTRACT_DUMP='/home/ec2-user/extract_dump'

30 16  *  *  * /home/ec2-user/level-ground/env/bin/python /home/ec2-user/level-ground/run_jail_extracts.py
30 18  *  *  * /home/ec2-user/level-ground/env/bin/python /home/ec2-user/level-ground/run_jail_extracts.py
30 20  *  *  * /home/ec2-user/level-ground/env/bin/python /home/ec2-user/level-ground/run_jail_extracts.py
30 22  *  *  * /home/ec2-user/level-ground/env/bin/python /home/ec2-user/level-ground/run_jail_extracts.py
52 23  *  *  * /home/ec2-user/level-ground/env/bin/python /home/ec2-user/level-ground/run_jail_extracts.py
